.nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.logo {
    width: 40%;
    max-width: 350px;
}

.nav-num > h4, .nav-num > h5 {
    color: red;
}

.form-bg {
    background-image: url('./med-form-bg.jpg');
    background-position: center;
    padding: 50px;
    background-size: cover;
}

.form {
    color: white;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.form-title {
    font-size: 40px;
}

.line {
    border-bottom: 2px solid white;
}

.form label {
    font-weight: 600;
}

.form input, select {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid black;
}

.form-btn {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: red;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.form-btn:hover {
    background-color: rgb(100, 0, 0);
}

.steps-container {
    text-align: center;
    width: 80%;
    margin: 50px auto;
}

.how-to-img {
    width: 100%;
    max-width: 800px;
}

.get-btn a {
    text-decoration: none;
    font-weight: 800;
    color: white;
    background-color: red;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.get-btn a:hover {
    background-color: rgb(100, 0, 0);
}

.steps {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    gap: 20px;
    flex-wrap: wrap;
}

.step > h5 {
    font-weight: 800;
}

.step {
    border: 1px solid black;
    padding: 20px;
}

.how-much-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    background-color: rgb(211, 224, 241);
    padding: 20px;
}

.line {
    border-bottom: 1px solid black;
    padding: 5px;
}

.how-much {
    width: 40%;
    max-width: 600px;
}

.how-much > h3 {
    background-color: rgb(0, 0, 143);
    color: white;
}

.how-much > h3, .how-much > h6 {
    padding: 5px;
}

.plans-container {
    text-align: center;
    margin: 50px ;
}

.chart {
    width: 100%;
    max-width: 1200px;
}

.why-use-container {
    background-image: url('./why-bg.jpg');
    background-size: cover;
    background-position: center;
}

.why-use > h1 {
    font-size: 50px;
    color: rgb(236, 209, 174);
}

.why-use {
    text-align: center;
    padding: 100px;
    color: white;
}

@media screen and (max-width: 920px) {
    .why-use {
        padding: 10px;
    }
    .why-use > h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    .nav {
        margin: 5px;
    }

    .nav-num > p, .nav-num > h5 {
        display: none;
    }

    .nav-num > h4 {
        text-align: center;
        font-size: 12px;
    }
}